// * {
//   margin: 0;
//   padding: 0;
// }

:root {
  --bg-color: white;
  --text-color: black;

  --border-color: black;

  --bg-inverse-color: black;

  --text-color-onDark: white;
  --bg-search: #e7e7e7;

  --shadow-color: 0, 0, 0; //& border-color 4 template-2
  --svg-colour-state: invert(0);
  --arrow4currTheme: url(../img/arrow.svg);
}

// [dark],
.dark {
  --bg-color: black;
  --text-color: white;

  --border-color: white;

  --bg-inverse-color: white;

  --text-color-onDark: black;
  --bg-search: #181818;

  --shadow-color: 255, 255, 255;
  --svg-colour-state: invert(1);

  --arrow4currTheme: url(../img/arrow_white.svg);
}

body {
  background-color: #1e1e1e;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
}

//buttons here?
button {
  height: 68px;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.canvas {
  color: var(--text-color);
  background-color: var(--bg-color);
  width: 1440px;
  margin: 0 auto;
}

//163*2 394 357 163 50*4
header {
  height: 50px;
}

nav ul {
  display: flex;
  align-items: center;

  li {
    height: 36px;
    padding-top: 14px;
    text-align: center;

    // svg {
    //   width: 25px;
    //   height: 22px;
    // }

    label,
    img {
      margin: 0 auto;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
    }

    // input:checked + svg {
    //   fill: red;
    // }

    .heart:checked + span {
      color: red;
    }

    span {
      font-size: 22px;
    }
  }

  li:not(:last-child) {
    border-right: 1px solid;
  }

  .nav-item {
    // display: block;
    width: 163px;
  }

  .nav-logo {
    width: 394px;
    position: relative;
  }

  .nav-search {
    position: relative;
    flex: 1;

    // & img{
    .icon-search {
      position: absolute;
      left: 110px;
      top: 20px;
      font-size: 19px; //icon
    }
  }

  .nav-social,
  .nav-toggler {
    width: 50px;
  }
  // ---------- inside ------------
  .nav-link {
    font-size: 22px;
    color: var(--text-color);
  }

  .logo {
    font-size: 32px;
    color: var(--text-color);
    letter-spacing: 0.64em;
    text-transform: uppercase;
  }

  .search {
    width: calc(100% - 24px);
    height: 29px;
    text-align: center;

    background-color: var(--bg-search);
    border-radius: 48px;
    border: 1px solid var(--border-color);
    padding-bottom: 0;

    &::placeholder {
      font-size: 22px;
      color: var(--text-color);
      opacity: 1; //4 fF
      vertical-align: bottom;
      line-height: 1;
    }
  }

  // .fav,
  // .theme
  input[type="checkbox"] {
    position: absolute;
    appearance: none;    // text-align: center; // margin: 0 auto;
  }
}

// ================ MAIN
main {
  margin-top: 160px;
  padding-left: 51px;
  display: flex;
}

.templates {
  text-align: center;

  span {
    display: block;
    font-size: 22px;
    margin-top: 30px;
  }
}
//different border colors in themes & templates
.template-1,
.template-2 {
  width: 111px;
  height: 139px;
}

.template-1 {
  background: linear-gradient(180deg, #675e9d 0%, #9d5e84 100%);
  border: 1px solid var(--border-color);
  // border: 1px solid #FFFFFF;in Dark
}

.template-2 {
  background: linear-gradient(
    180deg,
    rgba(103, 94, 157, 0.5) 0%,
    rgba(157, 94, 132, 0.5) 100%
  );
  border: 1px solid rgba(var(--shadow-color), 0.7);

  margin-top: 52px;
}

.template-choice {
  width: 475px;
  height: 591px;
  margin-left: 119px;
  // background: linear-gradient(180deg, #675e9d 0%, #9d5e84 100%);

  border: 1px solid var(--border-color);
  box-shadow: 7px 13px 0px rgba(var(--shadow-color), 0.75);

  text-align: center;
  color: white;
  font-size: 32px;
  letter-spacing: 0.64em;
}

.choice-txt-2 {
  margin-top: 400px;
}

aside {
  margin-left: 120px;
  width: 443px;

  font-size: 22px;

  .title {
    display: block;
    font-size: 22px;
    line-height: calc(32 / 22);
  }

  .price {
    font-size: 22px; //dubling
    line-height: calc(32 / 22);
  }

  .personalise {
    margin-top: 30px;
  }

  .add {
    position: relative;
    margin-top: 22px;
    color: var(--text-color-onDark);
    background-color: var(--bg-inverse-color);
  }

  .square {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    background-color: var(--bg-color);
    top: 0;
    right: 0; // border: 1px solid var(--border-color);
  }

  .note-1 {
    margin-top: 28px;
    line-height: calc(32 / 22);
  }

  .materials,
  .dimensions {
    width: 100%;
    height: 68px;
    text-align: center;
    appearance: none;

    background-color: var(--bg-color);
    color: var(--text-color);

    border: 1px solid var(--border-color);

    background-image: var(--arrow4currTheme);

    background-repeat: no-repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .materials {
    margin-top: 95px;
  }

  .dimensions {
    margin-top: 22px;
  }
}
// ========== footer
footer {
  margin-top: 173px;
  font-size: 22px;
  line-height: 227.272727%; /* 50/22 */
  // height: 50px;
  display: flex;
  align-items: center;

  // outline: 1px solid red;

  nav div {
    display: flex; // font-size: 0;

    // a {
    //   display: inline-block;
    //   width: 163px; // font-size: 22px;
    //   text-align: center;
    //   border-right: 1px solid var(--border-color);
    //   &.active {
    //     color: var(--text-color-onDark);
    //     background-color: var(--bg-inverse-color);
    //   }
    // }

    // -------------------

    a {
      display: block;
      width: 163px;
      text-align: center;
      border-right: 1px solid var(--border-color);

      // outline: 1px solid blue;

      &.active {
        color: var(--text-color-onDark);
        background-color: var(--bg-inverse-color);
      }
    }

    // [data-ctrls] {
    //   outline: 1px solid green;
    // }
  }

  span {
    text-transform: uppercase;
    margin: 0 auto;
  }
}
// ======================= picture inversing ===============
.nav-search,
.fav,
.nav-toggler,
.social {
  img,
  svg {
    filter: var(--svg-colour-state); // -webkit-filter - safari 6.0 - 9.0
  }
}
// ------------------------
// <a href="#_1st">Cart</a
//             ><!--
//         --><a href="#_2st">Overview</a
//             ><!--
//         --><a href="#_3st">Boutique</a
//             ><!--
//         --><a href="#_4st">About Us</a
//             ><!--
//         --><a href="#_5st">FAQ</a>
