$bg: rgb(231, 231, 231);

body {
  background-color: #1e1e1e;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

section {
  background-color: #fff;
  margin-top: 10px;
  width: 1440px;
  margin: 0 auto;
}

header {
  height: 50px;
}

nav ul {
  display: flex;

  * {
    // display: block;
    // padding-top: 5px;
    text-align: center;
  }

  li:not(:last-child) {
    border-right: 1px solid;
  }

  .nav-item {
    display: block;
    width: 163px;
  }

  .nav-logo {
    width: 394px;
  }

  .nav-search {
    // position: relative;
    // background-image: url(../img/search.svg);

    flex: 1;
  }

  .nav-social,
  .nav-toggler {
    width: 50px;
  }
  // ---------- inside ------------
  .search {
    width: calc(100% - 24px);
    // margin-left: 10px;
    position: relative;
  }

  .search::after {
    position: absolute;
    content: "";
    display: block;
    background-color: red;

    // background-image: url(../img/search.svg);
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
  }

  .fav,
  .theme {
    display: none; // opacity: 0;
    margin: 0 auto;
  }
}

//163 163 394 357 163 50*4
